[defaults]
#remote_user=amr-admin
#roles_path = ./roles:/usr/share/ansible/roles
#collections_path = ./collections:/usr/share/ansible/collections
#inventory = ./inventory


[privilege_escalation]
become=true
become_ask_pass=false
become_user=root
become_method=sudo
